* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Corbel";
    color: aliceblue;
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }
  
  .nav {
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 120px;
    gap: 50px;
    position: fixed;
    z-index: 100;
  }
  
  .nav img {
    height: 7vw;
  }
  
  .nav .menu {
    display: flex;
    gap: 50px;
  }
  
  .nav h4 {
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.15vw;
    position: relative;
  }
  
  .nav a {
    position: relative;
    text-decoration: none;
    color: aliceblue;
  }
  
  .anc::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 3px;
    background: aliceblue;
    transition: 0.3s;
  }
  
  .nav a:hover::before {
    width: 100%;
    transform: scaleX(1);
  }
  
  .icon {
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .icon i {
    cursor: pointer;
  }
  
  .box-container {
    display: none;
    background-color: #444;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px;
    border-radius: 3px;
    width: 300px; 
  
  }
  
  /* Styles for the toggle button */
  .menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 101; /* Ensures the toggle button is above the menu */
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .nav {
        padding: 0 20px;
        justify-content: space-between;
    }
  
    .nav .menu {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 80%;
        background: #333;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        padding-left: 20px;
        transition: right 0.3s ease;
        z-index: 100;
    }
  
    .nav img {
        height: 15vw;
    }
  
    .nav h4 {
        font-size: 5vw;
    }
  
    .menu-toggle {
        display: block;
    }
  
    .menu.open {
        right: 0;
    }
  
    .menu a:hover {
        color: #817e52;
    }
  }
  