<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchen Addiction!</title>
    <link rel="stylesheet" href="stylesheet/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
    <%- include('nav2')%>
    <video src=".\img\head.mp4" loop autoplay muted></video>
    <div class="main">
        <div class="page1">
            <h1>TASTE THE CLOUDS: WHERE FLAVOURS SOAR!</h1>
            <h2>WELCOME TO KITCHEN ADDICTION!</h2>
            <p>Where culinary dreams take flight! Our virtual kitchen is not just about delivering food, it's about delivering an experience that transcends the ordinary. </p>
        </div>
        <div class="page2">
            <div class="about">
                <img src=".\img\about1.jpg" alt="">
                <div class="txt">
                    <h2>ABOUT US</h2>
                <p>At Cloud Kitchen, we're more than just a food delivery service; we're your ticket to a gastronomic adventure. Our menu is a symphony of tastes, inspired by the ethereal beauty and boundless creativity of the clouds above. Whether you're craving comforting classics or daring to explore bold new flavors, our menu has something to delight every palate.</p>
                </div>
                <img src=".\img\about2.jpg" alt="">
            </div>
            <div class="cards-container">
                <div class="card c1">
                    <div class="overlay">
                        <h4>Ballet of Flavors</h4>
                        <p>Embark on a gustatory odyssey with our meticulously curated menu, a canvas of flavors waiting to be explored. Each dish is a harmonious symphony of tastes, carefully composed to awaken the senses and ignite the imagination</p>
                    </div>
                </div>
                <div class="card c2">
                    <div class="overlay">
                        <h4>Artisans of Taste</h4>
                        <p>Meet the culinary maestros behind our extraordinary creations. With a passion for perfection and a flair for innovation, our chefs transform simple ingredients into culinary masterpieces. Trust their expertise to elevate your dining experience to new heights.</p>
                    </div>
                </div>
                <div class="card c3">
                    <div class="overlay">
                        <h4>Purity Perfected</h4>
                        <p>Quality is our top priority. We meticulously source the finest ingredients and adhere to the highest standards of food preparation to ensure that every bite is a delight. Trust us to deliver excellence, from kitchen to doorstep.</p>
                    </div>
                </div>
            </div>
            <div class="sign-in">
                <h2>Sign Up Now</h2>
                <p>And enjoy a <strong>SPECIAL DISCOUNT</strong>  on your first order when you sign up today!</p>
            </div>
        </div>
        <div class="page3">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide im1">
                    <img src=".\img\sli1.jpg" alt="BBQ Ribs">
                </div>
                  <div class="swiper-slide im2">
                    <img src=".\img\sli2.jpg" alt="Grilled Salmon">
                </div>
                  <div class="swiper-slide im3">
                    <img src=".\img\sli3.jpg" alt="Pasta Carbonara">
                  </div>
                  <div class="swiper-slide im4">
                    <img src=".\img\sli4.jpg" alt="Peking Duck">
                  </div>
                  <div class="swiper-slide im5">
                    <img src=".\img\sli5.jpg" alt="Steak">
                  </div>
                  <div class="swiper-slide im6">
                    <img src=".\img\sli6.jpg" alt="Philly Cheesesteak">
                  </div>
                  <div class="swiper-slide im7">
                    <img src=".\img\sli7.jpg" alt="Chicken Curry">
                  </div>
                  <div class="swiper-slide im8">
                    <img src=".\img\sli8.jpg" alt="Tiramisu">
                  </div>
                  <div class="swiper-slide im9">
                    <img src=".\img\sli9.jpg" alt="Shrimp Scampi">
                  </div>
                </div>
        </div>
        <div class="page4">
            <p>GRAB A BITE NOW!!!</p>
        </div>

    </div>
    <%- include("footer.ejs")%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/javascript/index.js"></script>
</body>
</html>