<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <div class="nav">
        <img src="/img/logo.jpg">
        <div class="menu" id="menu">
            <h4><a class="anc" href="/">Home</a></h4>
            <h4><a class="anc" href="/user">Login</a></h4>
            <h4><a class="anc" href="/menu">Menu</a></h4>
            <h4><a class="anc" href="/sell">Sell</a></h4>
        </div>
        <div class="icon">
            <i class="fas fa-user icon"></i>
            <div class="box-container">
                <p class="txt"><b>Username:</b> <%= user ? user.username : 'Guest' %></p>
                <p class="txt"><b>Email:</b> <%= user ? user.email_id : 'N/A' %></p>
                <p class="txt"><b>Address:</b> <%= user ? user.address : 'N/A' %></p>
            </div>
        </div>
        <div class="menu-toggle" id="menu-toggle">
            &#9776;
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascript/nav.js"></script>
</body>
</html>
