<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/stylesheet/sell.css">
</head>
<body>
    <%- include('../nav.ejs')%>

    <div class="container">
        <div class="pg1">
            <h1 class="head">Ready to Cook Up Success?</h1>
            <p>Take the first step towards transforming your culinary dreams into reality. Join our cloud kitchen platform today and start your journey to success</p>
            <button class="join-btn">
                Start  Your  Journey &nbsp;| <i class="ri-restaurant-line"></i>
              </button>
        </div>

        <div class="pg2">
            <h1>Getting Started is Easy</h1>
            <div class="grid-container">
                <div class="step">
                    <img src="./img/signup2.jpg" alt="">
                    <p><b>Step 1: Sign Up </b><br> Fill in your basic information and set up your profile. Our user-friendly interface makes the sign-up process quick and easy.</p>
                </div>
                <div class="step">
                    <img src="./img/kitchen-set.jpg" alt="">
                    <p><b>Step 2: Kitchen Setup </b><br> Once your account is created, choose from our available kitchen locations. Our kitchens come fully equipped with the latest appliances and tools to meet your culinary needs. Schedule a visit to see your kitchen and get a feel for the space.</p>
                </div>
                <div class="step">
                    <img src="./img/join-menu.jpg" alt="">
                    <p><b>Step 3: Menu Creation </b> <br> Craft your unique menu. Upload high-quality photos and detailed descriptions of your dishes. Our platform allows you to categorize your menu, set prices, and manage your offerings with ease. Need help? Our culinary experts are available to provide guidance and suggestions</p>
                </div>
                <div class="step">
                    <img src="./img/join-live.jpg" alt="">
                    <p><b> 5: Go Live </b><br> Once your menu is set and you’ve completed onboarding, you’re ready to go live! Your kitchen will be listed on our platform, and customers can start placing orders. Monitor your orders in real-time through our integrated dashboard.</p>
                </div>
            </div>
        </div>
        <div class="pg3">
            <h1>Why Partner With Us?</h1>
            <p>Welcome to the future of dining! Our cloud kitchen platform offers chefs like you the unique opportunity to launch and expand your culinary business with minimal overhead. Here’s why you should join us:</p>
            <div class="content">
                <h3>Flexible Operations</h3>
                <p>Operate your kitchen on your terms. Whether you're a seasoned chef looking to expand your reach or a budding culinary artist wanting to break into the market, our flexible operating model adapts to your needs.</p>
            </div>
            <div class="content">
                <h3>Broad Customer Base</h3>
                <p>Tap into a large, diverse customer base eager to experience new and exciting culinary creations. Our platform connects you with food lovers from all over, increasing your reach and potential for growth</p>
            </div>
            <div class="content">
                <h3>Marketing and Support</h3>
                <p>Benefit from our robust marketing strategies designed to boost your brand visibility. From social media campaigns to targeted promotions, we ensure your kitchen gets the attention it deserves. Plus, our dedicated support team is always here to assist you with any challenges you may face.</p>
            </div>
        </div>
        <div class="pg4">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <p>"Joining this cloud kitchen platform was the best decision I ever made. The support from the team has been phenomenal. My sales have doubled within just a few months!" </p>
                    <h5>- Chef Maria</h5>
                </div>

                <div class="swiper-slide">
                    <p>"Joining this cloud kitchen platform was the best decision I ever made. The support from the team has been phenomenal. My sales have doubled within just a few months!" </p>
                    <h5>- Chef Maria</h5>
                </div>

                <div class="swiper-slide">
                    <p>"Joining this cloud kitchen platform was the best decision I ever made. The support from the team has been phenomenal. My sales have doubled within just a few months!" </p>
                    <h5>- Chef Maria</h5>
                </div>

                <div class="swiper-slide">
                    <p>"Joining this cloud kitchen platform was the best decision I ever made. The support from the team has been phenomenal. My sales have doubled within just a few months!" </p>
                    <h5>- Chef Maria</h5>
                </div>

                <div class="swiper-slide">
                    <p>"Joining this cloud kitchen platform was the best decision I ever made. The support from the team has been phenomenal. My sales have doubled within just a few months!" </p>
                    <h5>- Chef Maria</h5>
                </div>

                <div class="swiper-slide">
                    <p>"Joining this cloud kitchen platform was the best decision I ever made. The support from the team has been phenomenal. My sales have doubled within just a few months!" </p>
                    <h5>- Chef Maria</h5>
                </div>
                </div>
              </div>
        </div>
    </div>

    <%- include("../footer.ejs")%>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/javascript/sell.js"></script>
</body>
</html>