<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/menu-nav.css">
</head>
<body>
    <div class="nav-type">
        <h4><a href="/menu">Starter</a></h4>
        <h4><a href="/menu/main-courses">Main Courses</a></h4>
        <h4><a href="/menu/lunch">Lunch</a></h4>
        <h4><a href="/menu/veg">Vegetarian</a></h4>
        <h4><a href="/menu/soups">Soups</a></h4>
        <h4><a href="/menu/dinner">Dinner</a></h4>
    </div>
</body>
</html>